<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ce2103.itcr.meshmemory">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ram_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gui.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".gui.Nodo" />
        <activity android:name=".gui.Datos_nodo" />
        <activity android:name=".gui.Manager" />
        <activity android:name=".gui.MainManager" />
        <activity android:name=".gui.Master" />
        <activity android:name=".gui.Burping" />
        <activity android:name=".gui.Memory" />
        <activity android:name=".gui.Alerts" />
        <activity android:name=".gui.GarbageCollection" />
        <activity android:name=".gui.Node_data" />
        <activity android:name=".gui.Memory_map" />
        <activity android:name=".gui.Available_mem" />
        <activity android:name=".gui.Sync_Satatus" />
        <activity android:name=".gui.Error_logs"></activity>
        <receiver android:name=".server.SMSReceiver">
        <intent-filter>
            <action android:name=
            "android.provider.Telephony.SMS_RECEIVED" />
        </intent-filter>
    </receiver>

    </application>

    </manifest>